body{
    background-color: rgb(255, 206, 91);
}

h1{
    color: white;
    text-align: center;
}

img{
    width: 300px;
    height: 400px;
}

.Informacoes{
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.Filmes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}


